{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/home">Thread</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<h1>New Thread</h1>
		{{ form_start(threadForm) }}
		{{ form_errors(threadForm.title) }}
		{{ form_errors(threadForm.description) }}
		{{ form_errors(threadForm.body) }}
		{{ form_row(threadForm.created_at) }}
		{{ form_row(threadForm.updated_at) }}
		<button type="submit" class="btn btn-primary">Validation</button>
	{{ form_end(threadForm) }}




    
{% endblock %}
