{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/home">All threads</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/thread/create">New thread</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="example-wrapper">
		{% if app.user %}
			<div class="mb-3">
				Hello
				{{ app.user.userIdentifier }},
			</div>

			<div class="mb-3">
				Your threads
			</div>
			{% if threadsUser is not empty %}
				<ul>
					{% for thread in threadsUser %}
						<div class="container">
							<div class="card">
								<h5 class="card-header">{{ thread.CreatedAt | date("m/d/y")}}</h5>
								<div class="card-body">
									<h5 class="card-title">
										{{thread.title}}
									</h5>
									<p class="card-text">{{thread.description}}</p>
									<a class="btn btn-primary" href="{{ path('app_home_details', {'id': thread.id}) }}">Show Details</a>
									<a class="btn btn-primary" href="{{ path('app_thread_edit', {'id': thread.id}) }}">Modify</a>
								</div>
								<form class="card-body" action="{{ path('app_thread_delete', {'id': thread.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this thread?');">
									<button type="submit" class="btn btn-danger">Delete Thread</button>
								</form>
							</div>
						</div>
					{% endfor %}
				</ul>
			{% else %}
				<p>No threads found for the current user.</p>
			{% endif %}
		{% endif %}


	</div>
{% endblock %}
